.button{
    -fx-background-color: black;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #ff0000;
}

.button:pressed {
    -fx-background-color: #fc3f3f;
}